:root {
    --color: #05219ba1;
    --fs: 15px;
}
body {
    background-image: linear-gradient(to left ,rgba(6, 6, 138, 0.555) ,rgba(255, 0, 0, 0.479) );
    font-family: monospace;
}
.header{
background-color: #fff;
}
.header-inner{
1024px
}
.logo{

}
.menu{

}
.menu-item{

}
.menu-link{

}

  