@mixin flexbox ($align:flex-start , $justify:flex-start, $wrap:wrap) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.header {
    height: 200px;
    &_logo {
        @include flexbox(center,flex-end,);
    }
}
.boxed{
    height: 10rem;
    width: 10rem;
    position: relative;
    
    &:after{
        content: "";
        position: absolute;
        top: 0;left: 0;
        width: 100%;height: 100%;
        background-color: red;
        transform: rotate(45deg);
        z-index: -1;

    }
    &:hover:after{
        color: blue;
    }
   
}
// sass styles.scss styles.css --watch