body {
  padding: 20px;
}
.card {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px;
  background-color: white;
  box-shadow: #110101 0 7px 29px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.card-media {
  width: 40%;
  height: 250px;
  flex-shrink: 0;
  border-radius: inherit;
  overflow: hidden;
  position: relative;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}
.card-number {
  color: #00aefd;
  font-style: 20px;
  width: 40px;
  height: 40px;
  border-radius: 100rem;
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px;left: 10px;
  z-index: 2;
}
.card-content {
    flex: 1;
    padding-left: 30px;
    padding-right: 110px;
}
.card-social {
    width: 80px;
    position: absolute;
    top: 10px;
    right: 10px;
    bottom: 10px;
}
.card-top {
display: flex;
margin-bottom: 15px;
}
.card-live,.card-category 
 {
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
}
.card-live{
    background-color: #ff6651;
    color: white;
}
.card-category{
    color: #6f5cf1;
    background-color: #705cf186;
    margin-left: 15px;
}

.card-title {
font-size: 18px;
line-height: 1.6;
color: black;
font-weight: 600;
margin-bottom: 15px;
}
.card-meta {
display: flex;
align-items: center;
}
.card-status {
    display: flex;
    align-items: center;
    font-size: 13px;
}
.card-status-circle {
    width: 10px;height: 10px;
font-size: 12px;
margin-right: 10px;
border-radius: 100rem;
}

.card-user {
}
.card-user-avatar {
}
.card-user-info {
}
.card-user-top {
}
.card-user-name {
}
.fa-check {
}
.card-user-game {
}

.card-social-item {
}
.fa-arrow-right {
}
