:root {
    --color: #05219ba1;
    --fs: 15px;
}
body {
    font-family: monospace;
}
.plant-detail {
    width: 80rem;
    min-height: 60rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
}
.plant-detail-container {
    background-color: #fff;
    box-shadow: 0 0 4px 4px var(--color);
}
.plant-detail-header {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.plant-detail-back {
    color: black;
    text-transform: uppercase;
}
.plant-detail-back a {
    text-decoration: none;
}
.plant-detail-back span {
    margin-left: 1.5rem;
}
.plant-detail-like {
    color: var(--color);
    font-size: 2rem;
    cursor: pointer;
}
.plant-detail-content {
    display: flex;
}
.plant-detail-image {
    width:45%;
}
.logo {
    width: 110%;
}
.plant-detail-content > div{
    padding: 4rem;
}
.plant-detail-info {
    width: 60%;
    border-left: 1px solid #000;
}
.plant-detail-title {
}
.plant-detail-category {
}
.plant-detail-desc {
}
.plant-detail-button {
}
