.content li{
    list-style: none;
}
.share{
    width: 200px;
    border: 1px solid transparent;
    list-style: none;
}
.top{
    border-bottom: 1px solid transparent;
    padding: 15px;
    text-align: center;
    font-size: 25px;
}
