:root {
  --color: #de4b3e;
  --color1: #c74237;
  --color2:#4797ff;
  --bi: linear-gradient( to top,#ff4988,#ffc781,#fffefc);
  --fs: 15px;
}
html{
    font-size: 62.5%;
    background-color: rgba(0, 0, 0, 0.459);
}
* {
  box-sizing: border-box;
}
/* body{
height: 100vh;
width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;

} */
.head{
  margin:20px 0 0 0;
width: 20%;
height: 80%;

display: block;
background-color: white;
border: 1px solid black;
border-radius: 30px;
}
.head-avater img{
  display: flex;
width: 300px;
height: 300px;
margin: 0 auto;
border-radius: 50%;
}
.head-name{
display: flex;
text-align: center;
justify-content: center;
margin-bottom: 13px;
font-size: 20px;
font-weight: bold;
}
.head-desc{
  display: flex;
  text-align: center;
  justify-content: center;
  margin-bottom: 13px;
  font-size: 1.2rem;
}
.card{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-item{
display: block;
align-items: center;
justify-content: center;
padding: 14px;
}
.card-item-number{
background-color: #ff4988;
border-radius: 20px;
font-size: 13px;
}
.card-item-text{
  font-size: 13px;
}
.fo{
  display: flex;
  justify-content: space-between;
}
.foot{  
  width: 100px;
  height: 50px;
  border-radius: 50px;
}
.foot:first-child{
  background-color: rgba(0, 0, 255, 0.603);
}
.foot:nth-of-type(2){
  background-color: rgba(235, 144, 7, 0.829);
}
